.passenger {
  background-color: hsla(334, 55%, 20%, 0.65)!important;
  // background-image: linear-gradient(to bottom, hsla(321, 55%, 35%, 0.5), hsla(334, 55%, 20%, 0.85));
  color: hsla(60, 80%, 95%, 0.75);
  .driverName {
    color: hsla(211, 80%, 80%, 0.75);
  }
}
.colorKey {
  color: hsla(334, 55%, 20%, 0.65);
}